<section id="profile">
    <h2>{{{title}}}</h2>
    <div class="user-photo">
        <img id="userPhotoDisplay" src="/public/assets/no-photo.jpg" alt="User Photo" width="100" height="100">
        <br/>
        <input type="file" id="photoInput" style="display: none;" accept="image/*"/>
        <button type="button" id="uploadPhotoButton">Upload Photo</button>
    </div>
    <form id="profile-form">
        <div>
            <label for="firstNameInput">First Name:</label>
            <input type="text" id="firstNameInput" name="firstNameInput" value="{{{user.firstName}}}" disabled>
        </div>
        <div>
            <label for="lastNameInput">Last Name:</label>
            <input type="text" id="lastNameInput" name="lastNameInput" value="{{{user.lastName}}}" disabled>
        </div>
        <div>
            <label for="emailAddressInput">Email:</label>
            <input type="email" id="emailAddressInput" name="emailAddressInput" value="{{{user.emailAddress}}}"
                disabled>
        </div>
        <div>
            <label for="bioInput">Bio:</label>
            <textarea id="bioInput" name="bioInput" disabled>{{{user.bio}}}</textarea>
        </div>
        <div>
            <label for="githubInput">GitHub Link:</label>
            <input type="url" id="githubInput" name="githubInput" value="{{{user.github}}}" disabled>
        </div>
        <div>
            <label for="roleInput">User Type:</label>
            <input type="text" id="roleInput" name="uroleInput" value="{{{user.role}}}" disabled>
        </div>
        <div>
            <label for="createdAt">Account Created At:</label>
            <input type="text" id="createdAt" name="createdAt" value="{{{user.createdAt}}}" disabled>
        </div>
        <div>
            <label for="lastLogin">Last Login:</label>
            <input type="text" id="lastLogin" name="lastLogin" value="{{{user.lastLogin}}}" disabled>
        </div>

        <div class="form-errors">
            <ul id="errors" class="errors">
                {{#if hasErrors}}
                    {{#each errors}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                {{/if}}
            </ul>
        </div>
        <div class="buttons">
            <button type="button" id="saveProfileButton" hidden>Save Profile</button>
            <button type="button" id="editProfileButton">Edit Profile</button>
            <button type="button" onclick="location.href='/user/password'">Change Password</button>
            <button type="button" id="cancelAccountButton">Cancel Account</button>
        </div>
    </form>
</section>

<section id="lessons">
    <h2>Lessons Created</h2>
    <ul>
        {{#each lessons}}
            <li>
                <h3>{{this.lessonName}}</h3>
                <p>Status: <span>Completed/In Progress</span></p>
                <button type="button" onclick="location.href='/lesson/details'">Review/Continue</button>
            </li>
        {{/each}}
    </ul>
</section>

<!-- Q&A Contributions Section -->
<section id="qas">
    <h2>Q&A Contributions</h2>
    <ul>
        <!-- Repeat this list item for each Q&A contribution -->
        {{#each qas}}
            <li>
                <h3>{{qa.questionName}}</h3>
                <p>Type: <span>{{qa.questionType}}</span></p>
                <p>Ans: <span>{{qa.answers.sum}}</span></p>
                <p>Upvotes: <span>{{qa.votes.sum}}</span></p>
                <p><span>{{qa.createdAt}}</span></p>
                <button type="button" onclick="location.href='/lesson/details'">Review/Continue</button>
            </li>
        {{/each}}
    </ul>
</section>