<div id="content-page">

    <section id="lessons">
        <h2>My Lessons</h2>
        <ul>
            {{#each lessons}}
                <li>
                    <h3>{{this.lessonName}}</h3>
                    <p>Status: <span>Completed/In Progress</span></p>
                    <button type="button" onclick="location.href='/lesson/details'">Review/Continue</button>
                </li>
            {{/each}}
        </ul>
    </section>

    <!-- Q&A Contributions Section -->
    <section id="qas">
        <h2>Q&A Contributions</h2>
        <ul>
            <!-- Repeat this list item for each Q&A contribution -->
            {{#each qas}}
                <li>
                    <h3>{{qa.questionName}}</h3>
                    <p>Type: <span>{{qa.questionType}}</span></p>
                    <p>Ans: <span>{{qa.answers.sum}}</span></p>
                    <p>Upvotes: <span>{{qa.votes.sum}}</span></p>
                    <p><span>{{qa.createdAt}}</span></p>
                    <button type="button" onclick="location.href='/lesson/details'">Review/Continue</button>
                </li>
            {{/each}}
        </ul>
    </section>
</div>