<h2>{{{title}}}</h2>
<section id="profile">
    <div id="userProfileContainer">
        <table>
            <tr>
                <th>First Name</th>
                <td id="firstName">{{{user.firstName}}}</td>
                <td rowspan="7" class="photo-cell">
                    <img src="{{{user.photo}}}" alt="User Photo" id="user-Photo">
                </td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td id="lastName">{{{user.lastName}}}</td>
            </tr>
            <tr>
                <th>Email Address</th>
                <td id="email">{{{user.emailAddress}}}</td>
            </tr>
            <tr>
                <th>Bio</th>
                <td id="bio">{{{user.bio}}}</td>
            </tr>
            <tr>
                <th>GitHub</th>
                <td><a href="{{{user.github}}}" id="githubLink">{{{user.github}}}</a></td>
            </tr>
            <tr>
                <th>User Type</th>
                <td id="role">{{{user.role}}}</td>
            </tr>
            <tr>
                <th>Account Created At</th>
                <td id="accountCreatedAt">{{{user.createdAt}}}</td>
            </tr>
            <tr>
                <th>Last Login</th>
                <td id="lastLogin">{{{user.lastLogin}}}</td>
            </tr>
        </table>
    </div>

    <form id="photo-form">
        <div id="photoDisplay">
            <img id="userPhotoDisplay" src="{{{user.photo}}}" alt="User Photo" width="100" height="100">
        </div>
        <div>
            <input type="file" id="photoInput" accept="image/*" />
            <button id="uploadPhotoButton">Upload</button>
        </div>
    </form>

    <form id="profile-form">
        <div>
            <label for="firstNameInput">First Name:</label>
            <input type="text" id="firstNameInput" name="firstNameInput" value="{{{user.firstName}}}" disabled>
        </div>
        <div>
            <label for="lastNameInput">Last Name:</label>
            <input type="text" id="lastNameInput" name="lastNameInput" value="{{{user.lastName}}}" disabled>
        </div>
        <div>
            <label for="emailAddressInput">Email:</label>
            <input type="email" id="emailAddressInput" name="emailAddressInput" value="{{{user.emailAddress}}}"
                disabled>
        </div>
        <div>
            <label for="bioInput">Bio:</label>
            <textarea id="bioInput" name="bioInput" disabled>{{{user.bio}}}</textarea>
        </div>
        <div>
            <label for="githubInput">GitHub Link:</label>
            <input type="url" id="githubInput" name="githubInput" value="{{{user.github}}}" disabled>
        </div>
        <div>
            <label for="roleInput">User Type:</label>
            <input type="text" id="roleInput" name="uroleInput" value="{{{user.role}}}" disabled>
        </div>
        <div>
            <label for="createdAt">Account Created At:</label>
            <input type="text" id="createdAt" name="createdAt" value="{{{user.createdAt}}}" disabled>
        </div>
        <div>
            <label for="lastLogin">Last Login:</label>
            <input type="text" id="lastLogin" name="lastLogin" value="{{{user.lastLogin}}}" disabled>
        </div>

        <div class="form-errors">
            <ul id="errors" class="errors">
                {{#if hasErrors}}
                    {{#each errors}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                {{/if}}
            </ul>
        </div>
    </form>
    <div id="editButtons" class="buttons">
        <button type="button" id="saveProfileButton" hidden>Save Profile</button>
        <button type="button" id="editProfileButton">Edit Profile</button>
        <button type="button" onclick="location.href='/user/password'">Change Password</button>
        <button type="button" id="cancelAccountButton">Cancel Account</button>
    </div>
</section>

    <section id="lessons">
        <h2>Lessons</h2>
        <ul>
            {{#each lessons}}
                <li>
                    <h3>{{this.lessonName}}</h3>
                    <p>Status: <span>Completed/In Progress</span></p>
                    <button type="button" onclick="location.href='/lesson/details'">Review/Continue</button>
                </li>
            {{/each}}
        </ul>
    </section>

    <!-- Q&A Contributions Section -->
    <section id="qas">
        <h2>Q&A Contributions</h2>
        <ul>
            <!-- Repeat this list item for each Q&A contribution -->
            {{#each qas}}
                <li>
                    <h3>{{qa.questionName}}</h3>
                    <p>Type: <span>{{qa.questionType}}</span></p>
                    <p>Ans: <span>{{qa.answers.sum}}</span></p>
                    <p>Upvotes: <span>{{qa.votes.sum}}</span></p>
                    <p><span>{{qa.createdAt}}</span></p>
                    <button type="button" onclick="location.href='/lesson/details'">Review/Continue</button>
                </li>
            {{/each}}
        </ul>
    </section>