<section id="detail">
  <h2>{{this.lessonTitle}}</h2>
  <h3>{{this.description}}</h3>

  <ul>
    {{#each contents}}
    <li>
      <h4>{{this.order}}: {{this.moduleTitle}}</h4>
      <h5>Author: {{this.author}} with creatorId: {{this.creatorId}}</h5>
      <h5>Resources: {{this.videoLink}}</h5>
      <h5>{{this.text}}</h5>
      <button type="button" onclick="location.href='/user/profile'">Mark Complete!</button>
    </li>
    {{/each}}
  </ul>


  <a href="/lessons/addmodule/{{this.lessonId}}">
    Add Modules to this Lesson
  </a>
  <a href="/qa/create/{{lessonId}}">
    Ask a question about this Lesson
  </a>



</section>