<section id="lessons">
  <ul>
    {{#each lessons}}
    <li style="text-decoration: none" ;>
      <div>
        <h3><a href="/lessons/lesson/{{this._id}}">{{this.title}}</a></h3>
        <h4>{{this.description}}</h4>
        <h4 hidden="true">{{this._id}}</h4>

      </div>

      {{!-- <button type="button" onclick="location.href='/lesson/{{id}}'">Go To Lesson</button> --}}
    </li>
    {{/each}}
  </ul>
</section>