<div id="lessons-page">
  <section id="detail">
    {{#if alreadyTaken}}

  {{else}}
  <form id="launch" method="POST">
    <button id="launchButton" type="submit" action="/lesson/lessons/{{this.lessonId}}">Launch Lesson</button>
  </form>

  {{/if}}

  <h2>{{this.lessonTitle}}</h2>
    <h3>{{this.description}}</h3>
    {{!-- <h3>{{this.lessonId}}</h3> --}}

  <ul>
    {{#each contents}}
    <li>
      <h4>{{this.order}}: {{this.moduleTitle}}</h4>
      <h5>Author: {{this.handle}}</h5>

        <h5>Video Resource: <a href="{{this.videoLink}}" target="_blank">{{this.videoLink}} </a></h5>

      <h5>Video Resource: {{this.videoLink}}</h5>

      <h5>{{this.text}}</h5>
      <button type="button" id="completeButton" onclick="location.href='/user/profile'">Mark Complete!</button>
    </li>
    {{/each}}
  </ul>


  <div>
    <a href="/lessons/addmodule/{{this.lessonId}}">
      Add Modules to this Lesson
    </a>
    <button><a href="/lessons/remove/{{this.lessonId}}">
        Delete this Lesson
      </a></button>
  </div>
  <div>
    <a href="/qa/create/{{this.lessonId}}">
      Ask a question about this Lesson
    </a>
  </div>


  </section>
</div>