<h2>Publish Lesson</h2>
<h3 class="information">Create additional modules for this lesson. Click PUBLISH to make your lesson viewable to others.
</h3>
<section>
  <div id="module-wrapper">
    <form id="module-form" method="POST" action="/lessons/lesson/addmodule" class="form">
      <h1>lesson-id: {{this.lessonId}}</h1>
      <input class="hide-id" value={{this.lessonId}} name="lessonId" />
      <div>
        <label for="moduleTitleInput">Module Title:</label>
        <input type="text" id="moduleTitleInput" name="moduleTitle" value="{{moduleTitle}}">
      </div>
      <div>
        <label for="textInput">Module Content:</label>
        <input type="text" id="textInput" name="text" value="{{text}}">
      </div>
      <div>
        <label for="videoLinkInput">Module Video Link:</label>
        <input type="videoLink" id="videoLinkInput" name="videoLink" value="{{videoLink}}">
      </div>
      <div>
        <label for="orderInput" id="orderInput">order of this module</label>
        <input type="number" id="orderInpu" name="order" value="{{order}}">
      </div>
      <div class="buttons">
        <button type="submit">Add a New Module</button>
      </div>

      <button type="button" action="/lessons/lesson/:id">Publish Lesson</button>
    </form>


  </div>


  <section>
    <h1>Previeous lessons</h1>
    <h1>Lesson name : {{this?.lesson?.lessonTitle}}</h1>
    <h1>Lesson Modules</h1>
    <div>
      {{#each this?.lesson?.contents}}
      <h1>Module name : {{moduleTitle ?? ''}}</h1>
      {{/each}}
    </div>
  </section>

  <section id="detail">
    <h2>{{this.lessonTitle}}</h2>
    <h3>{{this.description}}</h3>
    <ul>
      {{#each contents}}
      <li>

        <h4>{{this.order}}: {{this.moduleTitle}}</h4>
        <h5>Author: {{this.creatorId}}</h5>
        <h5>Resources: {{this.videoLink}}</h5>
        <h5>{{this.text}}</h5>
        <button type="button" onclick="location.href='/user/profile'">Mark Complete!</button>
      </li>
      {{/each}}
    </ul>
  </section>


  <div class="form-errors">
    <ul id="errors" class="errors">
      {{#if hasErrors}}
      {{#each errors}}
      <li>
        {{this}}
      </li>
      {{/each}}
      {{/if}}
    </ul>
  </div>


</section>

<script>
  function duplicateModuleForm() {
    let formsContainer = document.getElementById("module-wrapper");
    let initialForm = formsContainer[0];
    let formClone = initialForm.cloneNode(true);
    div.appendChild(formClone);
  }</script>