<div id="qa-page">
        <h1>Welcome to QA central!</h1>
        <h2>Feeling helpful? Here are some of our most recent questions asked:</h2>
        <div class='errorSpace' id='errorSpace'></div>

        {{#if recentQaArray.length}}

          {{#each recentQaArray}}

            <!-- show last 20 questions on the site period. Visible to all -->
            <p>
              <a href='/qa/{{this._id}}'>{{this.title}}</a>
              <span>Created at:</span>
              {{this.timeStamp}}
              <span>by</span>
              <a href='../user/handle/{{this.author}}'>{{this.author}}</a>
            </p>  
          {{/each}}

        {{/if}}


        {{#if user}}
          <!-- if logged in user -->
          <p>Let's see if anybody has answered any of your burning questions:</p>
          {{#if creatorQuestions.length}}


            {{#each creatorQuestions}}


              <!-- show last 20 questions they've asked -->
              <p>
                <a href='/qa/{{this._id}}'>{{this.title}}</a>
                <span>Created at:</span>
                {{this.timeStamp}}
              </p>

            {{/each}}

          {{/if}}
        {{/if}}
        {{#if admin}}

          <!-- if teacher -->
          <p>Hey Smartypants, ready to help?</p>
          {{#if lessonsQuestions.length}}

            {{#each lessonsQuestions}}

              <!-- show last 20 questions for each lesson they've created -->
              <p>
                <a href='/qa/{{this._id}}'>{{this.title}}</a>
                <span>Created at:</span>
                {{this.timeStamp}}
                <span>by</span>
                <a href='../user/handle/{{this.author}}'>{{this.author}}</a>
              </p>

            {{/each}}

          {{/if}}

        {{/if}}

</div>