<article id='qaMain'>
  <h2>{{qaTarget.title}}</h2>
  <p>{{qaTarget.text}}</p>
  <p>by
    <a href='../../user/handle/{{this.author}}'>{{qaTarget.author}}</a>
    at
    {{qaTarget.timeStamp}}</p>
  <a href='../../user/login'>Ready to Contribute? Login Now!</a>
  <div class='errorSpace' id='errorSpace'></div>
  {{#if qaTarget.answers}}
    {{#each qaTarget.answers}}

      <div><a href='../../user/{{this.author}}'>{{this.author}}</a>
        at
        {{this.timeStamp}}</div>
      <div>{{this.text}}</div>

    {{/each}}
  {{else}}
    <p>No replies yet.</p>
  {{/if}}
  <a href='../../user/login'>Ready to Contribute? Login Now!</a>
  <script src='http://localhost:3000/public/js/qaScript.js'></script>
</article>