<div id="qa-page">
  <article id='qaMain'>
    <h2>{{qaTarget.title}}</h2>
    <p>{{qaTarget.text}}</p>
    <p>by <a href='../../user/handle/{{qaTarget.author}}'>{{qaTarget.author}}</a> at {{qaTarget.timeStamp}}</p>
    <form id='addAnswerForm' action='/qa/{{qaTarget._id}}/answers' method='post' data-qaTarget="{{qaTarget._id}}">
      <input type='text' name='replyText' id='replyText' />
      <input type='submit' id="addAnswerFormButton" />
      <input type='reset' />
    </form>
    <div class='errorSpace' id='errorSpace'></div>
    <form id="showDeletedForm">
      <button type="button" id="showDeletedButton">Toggle Deleted Responses</button>
    </form>
    {{#if qaTarget.answers}}
      <div id="answersContainer">
        {{#each qaTarget.answers}}
          <div class="answer" data-locked="{{this.locked}}">
            <div class="vote">
              <div class="iqPoint">{{this.votes.value}}</div>
              {{#if this.locked}}
              {{else}}
                <form class="vote-form" action="/qa/{{../qaTarget._id}}/answers/{{this._id}}" method="post">
                  <button type="submit" class="upvote-btn" id="upvote-btn-{{this._id}}" data-qa-id="{{../qaTarget._id}}"
                    data-answer-id="{{this._id}}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
                      <path d="M12 2L0 10l3 2v10h18v-10l3-2z" />
                    </svg>
                  </button>
                </form>
              {{/if}}
            </div>
            {{#if this.locked}}
              <div>Deleted</div>
            {{else}}
              <div><a href='../../user/handle/{{this.author}}'>{{this.author}}</a> at {{this.timeStamp}}</div>
            {{/if}}
            <div>{{this.text}}</div>
          </div>
        {{/each}}
    {{else}}
      <p>No replies yet.</p>
    {{/if}}

  </article>
</div>